.heading
{
    font-size: 23px;
    width:100%;
    margin: 0px;
    
}

.note
{
    font-size: 15px;
    color:black;
    
    
}

h3
{
    font-size:35px !important;
    font-family: Barlow Condensed;
}

body
{
    background-size: cover;
}




.play_button
{
    width: 170px;
    font-size: 25px;
    margin-top: 500px;
    border-radius: 20px;
}
 
canvas
{
    border: 5px solid white;
    border-radius: 20px;
    animation-name:example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
     
}

@keyframes example
{
    from {box-shadow:1px 1px 38px grey;}
    to{box-shadow:1px 1px 38px white;}

}
